.location-container{
  cursor: pointer;
  border-radius: 5px;
}

.location-container:hover{
  background-color: rgb(40, 40, 40);
  color: white;
}

.toggle-icon{
  cursor: pointer;
}


.unfold-more-container{
    padding: 0px !important;  
}
