.date-picker-container {
  background-color: rgb(164, 53, 164);
  position: absolute;
  max-width: 22vw;
  right: 2vw;
  top: 3vh;
  padding: 20px;
  z-index: 5;
  border-radius: 10px;
  color: white;
}